html{
    font: 1em sans-serif;
}


body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    background: url(https://img.wallscloud.net/uploads/thumb/346012031/%D0%A1%D1%85%D0%B5%D0%BC%D0%B0,_%D1%82%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0,_%D1%82%D1%91%D0%BC%D0%BD%D1%8B%D0%B9_%D1%84%D0%BE%D0%BD-1024x576-MM-80.webp);
    background-size: cover;
    display: flex;
}

.header_left {
    margin-top: 100px;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding: 0 5vw;
    box-sizing: border-box;
    text-align: right;
}

.header_left p {
    font-size: 0.5em;
}

.bio {
    width: 60%;
}


.header_right {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}

.header_btn {
    cursor: pointer;
}

.header_btn:hover {
    transform: scale(1.05);
}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw;
    box-sizing: border-box;
    min-height: 50vh;
}

.project{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 50px;
    font-size: 30px;
    text-align: center;
}

section h1 {
    font-size: 4em;
}

.section_row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_item {
    padding-top: 70px;
    height: 10vw;
    margin: 0 4.5em 4.5em 4.5em;
    font-size: 30px;
    text-align: center;
}

.section_item img {
    height: 100%;
}


.projects {
    color: white;
    background: black;
}

.github:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 100px;
    position: relative;
    background-image: url(footer_bg.png);
    background-size: cover;
    background-position: center;
}


.footer_content {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    -webkit-backdrop-filter: brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}